#include "ImagesResource.h"

IDB_BKGND		BITMAP BKGND_PATH
IDB_MAIN		BITMAP MAIN_PATH
IDB_ROLE		BITMAP ROLE_PATH
IDB_TNT			BITMAP TNT_PATH
IDB_OBSTACLE	BITMAP OBSTACLE_PATH
IDB_GLOVE		BITMAP GLOVE_PATH
IDB_SHIELD		BITMAP SHIELD_PATH
IDB_ADDTNT		BITMAP ADDTNT_PATH
IDB_ADDLIFE		BITMAP ADDLIFE_PATH
IDB_SHOE		BITMAP SHOE_PATH
IDB_JINKELA		BITMAP JINKELA_PATH
IDB_LACHRYMATOR	BITMAP LACHRYMATOR_PATH
IDB_MINE		BITMAP MINE_PATH
IDB_FIRE		BITMAP FIRE_PATH
IDB_ICE			BITMAP ICE_PATH
IDB_GRENADE		BITMAP GRENADE_PATH
IDB_MISSILE		BITMAP MISSILE_PATH
